/*
.question{
    background-color: black;
}
.question p{
    background-color:green;
}
.quesText{
    background-color: lightblue;
}
.userAnswer{
    background-color:lightblue;
}
form{
    background-color:green;
}
#qnaContainer{
    background-color:pink;
}
#innerQnaContainer{
    background-color:brown;

}

#responseContainer{
    background-color:pink;
}
#response{
    background-color:blue;
}
#response p{
    background-color:brown;
}
#calculateContainer{
    background-color:blue;
}


/*